// Typography

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6,
.h {
  font-family: $headings-font-family;
  font-weight: bold;
  margin: 0 0 0.5em;
  color: $headings-color;
  text-transform: uppercase;
}

h1, .h1 {
  font-size: $h1-font-size;
  font-family: $base-font-serif;
  font-weight: 400;
  letter-spacing: 10px;
  margin-bottom: 0;
  line-height: 1.113636;

  @include media('<widescreen') {
    font-size: 50px;
  }

  @include media('<desktop') {
    font-size: 46px;
  }

  @include media('<tablet') {
    font-size: 36px;
  }
}

h2, .h2 {
  font-size: $h2-font-size;
  line-height: 1.223;
  letter-spacing: 0.9px;

  @include media('<widescreen') {
    font-size: 36px;
  }

  @include media('<desktop') {
    font-size: 30px;
  }

  @include media('<tablet') {
    font-size: 24px;
  }
}

h3, .h3 {
  font-size: $h3-font-size;
  letter-spacing: 1px;
  line-height: 1.357;

  @include media('<widescreen') {
    font-size: 22px;
  }

  @include media('<tablet') {
    font-size: 18px;
  }
}

h4, .h4 {
  font-size: $h4-font-size;

  @include media('<desktop') {
    font-size: 20px;
  }
}

h5, .h5 {
  font-size: $h5-font-size;
}

h6, .h6 {
  font-size: $h6-font-size;
}

p {
  margin: 0 0 1em;
}

a {
  color: $base-link-color;
  &:hover,
  &:focus {
    text-decoration: none;
  }
}